<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Formulário
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Formulário</ion-title>
    </ion-toolbar>
  </ion-header>
  <form (ngSubmit)="salvar()">
    <ion-list>
      <ion-item>
        <ion-input label="Nome" required placeholder="Nome"
          label-placement="floating" fill="solid"
          name="nome" [(ngModel)]="pessoa.nome"
        ></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-input label="Telefone" placeholder="Telefone"
          label-placement="floating" fill="solid" type="tel"
          name="telefone" [(ngModel)]="pessoa.telefone"
        ></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-input label="Email" placeholder="Email"
          label-placement="floating" fill="solid" type="email"
          name="email" [(ngModel)]="pessoa.email"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-select name="hoobie" [(ngModel)]="pessoa.hoobie" label="Hoobie" placeholder="Hoobie">
          <ion-select-option>Nadar</ion-select-option>
          <ion-select-option>Passear</ion-select-option>
          <ion-select-option>Jogar Futebol</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-item>
      <ion-button type="submit">Salvar</ion-button>
    </ion-item>
    {{ pessoa | json }}
  </form>
 
</ion-content>